.Prosemirror-hide-cursor { caret-color: transparent; }

@keyframes g-md-gapcursor-blink {
    1%, 49% { border-color: currentColor; }
    50%, 99% { border-color: transparent; }
}

.g-md-gapcursor { cursor: text; }

.g-md-gapcursor::before {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-right: -1px;
    content: '\200A';
    caret-color: transparent;
    border-right: 1px solid transparent;
}

.ProseMirror-focused .g-md-gapcursor::before { animation: g-md-gapcursor-blink 1s infinite; }
